/bin:/usr/bin:/usr/sbin:/usr/bin/X11:/usr/bsd:/usr/local/bin:/usr/ucb:/usr/local:/usr/lbin:/usr/etc:/etc:/usr/lib:/usr/ucblib:/lib:/usr/ccs/lib:/sbin:/usr/gnu/bin:/usr/freeware/bin:/usr/kerberos/bin:/usr/prg/bin:/usr/local/globus2.4.2/bin


